body, html {
  background-color: white;
}

.kde_canvas {
  margin: 0 auto;
  padding: 20px 15px 0px 15px;
  top: 0;
  width: 1104px;
}

.session_info {
  background-color: white;
  height: 15px;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  width: 456px;
  z-index: 10;
}

.session_id, .session_end {
  color: #41444B;
  display: inline;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  height: 15px;
  line-height: 15px;
  margin: 0 auto;
  text-align: left;
}

.session_id {
  float: left;
}

.session_end {
  float: right;
}

.session_end a, .session_end a:link, .session_end a:visited {
  color: #41444B;
  cursor: pointer;
  text-decoration: none;
}

.session_end a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.kde_form {
  display: inline;
  float: left;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 480px;
}

.kde_display {
  /* border-style: solid;
  border-width: 3px; */
  display: inline;
  float: right;
  margin: 0 auto;
}

.kde_form_header {
  display: block;
}

.kde_form_data_container, .kde_form_kde_container {
  display: block;
  margin: 0 auto;
}

.kde_form_kde_container {
  padding-top: 24px;
}

.kde_form_header {
  color: #41444B;
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  margin-bottom: 5px;
  padding: 0px 0 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 95%;
}

.kde_form_subheader_year,
.kde_form_subheader_month,
.kde_form_subheader_violation,
.kde_form_subheader_kernel,
.kde_form_subheader_bandwidth,
.kde_form_subheader_metric {
  color: #41444B;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 12px 0 10px 0;
  width: 95%;
}

.kde_form_subheader_year a,
.kde_form_subheader_month a,
.kde_form_subheader_violation a,
.kde_form_subheader_kernel a,
.kde_form_subheader_bandwidth a,
.kde_form_subheader_metric a,
.dataset_tt_text_ald a,
.dataset_tt_text_mpd a{
  text-decoration: underline;
}

/*Tooltip specific style data*/

.fa-question-circle {
  /*color: rgb(85,85,85);*/
  /*color: #efefef;*/
  color: #41444B;
  display: inline-block;
  float: right;
  position: relative;
  /*border-bottom: 1px dotted black;*/
}

.dataset_tt_text_ald, .dataset_tt_text_mpd {
  color: #41444B;
  display: inline-block;
  position: relative;
}

.year_tt_text,
.month_tt_text,
.violation_tt_text,
.kernel_tt_text,
.bandwidth_tt_text,
.metric_tt_text,
.ald_tt_text,
.mpd_tt_text {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: normal;
  /*text-align: justify;*/
}

.kde_form_subheader_year img {
  background-color: #ffffff;
  float: left;
  margin-right: 10px;
  width: 73px;
}

.kde_form_subheader_month img {
  background-color: #ffffff;
  float: left;
  margin-right: 10px;
  width: 73px;
}

.kde_form_subheader_violation img {
  background-color: #ffffff;
  float: left;
  margin-right: 10px;
  width: 73px;
}

.kde_form_subheader_kernel img {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 225px;
}

.kde_form_subheader_bandwidth img {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 225px;
}

.kde_form_subheader_metric img {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 190px;
}

.ald_tt_text img {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 190px;
}

.mpd_tt_text img {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 190px;
}

.year_tt_text a:link,
.month_tt_text a:link,
.violation_tt_text a:link,
.kernel_tt_text a:link,
.bandwidth_tt_text a:link,
.metric_tt_text a:link,
.ald_tt_text a:link,
.mpd_tt_text a:link {
  color: white;
}

.year_tt_text a:visited,
.month_tt_text a:visited,
.violation_tt_text a:visited,
.kernel_tt_text a:visited,
.bandwidth_tt_text a:visited,
.metric_tt_text a:visited,
.ald_tt_text a:visited,
.mpd_tt_text a:visited {
  color: white;
}

.fa-question-circle .year_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -31px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 340px;
  z-index: 1;
}

.fa-question-circle .month_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -31px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 340px;
  z-index: 1;
}

.fa-question-circle .violation_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -33px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 340px;
  z-index: 1;
}

.fa-question-circle .kernel_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -204px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 223px;
  z-index: 1;
}

.fa-question-circle .bandwidth_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -159px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 224px;
  z-index: 1;
}

.fa-question-circle .metric_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -232px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 190px;
  z-index: 1;
}

.dataset_tt_text_ald .ald_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: 105px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -344px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 190px;
  z-index: 1;
}

.dataset_tt_text_mpd .mpd_tt_text {
  /*background-color: #555;*/
  background-color: rgba(65, 68, 75, 0.85);
  /*border-radius: 3px;*/
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: 79px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -400px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 190px;
  z-index: 1;
}

.fa-question-circle:hover .year_tt_text {
  opacity: 1;
  visibility: visible;
}

.fa-question-circle:hover .month_tt_text {
  opacity: 1;
  visibility: visible;
}

.fa-question-circle:hover .violation_tt_text {
  opacity: 1;
  visibility: visible;
}

.fa-question-circle:hover .kernel_tt_text {
  opacity: 1;
  visibility: visible;
}

.fa-question-circle:hover .bandwidth_tt_text {
  opacity: 1;
  visibility: visible;
}

.fa-question-circle:hover .metric_tt_text {
  opacity: 1;
  visibility: visible;
}

.dataset_tt_text_ald:hover .ald_tt_text {
  opacity: 1;
  visibility: visible;
}

.dataset_tt_text_mpd:hover .mpd_tt_text {
  opacity: 1;
  visibility: visible;
}

/*Tooltip specific style data*/

.kde_form_data_container_header,
.kde_form_kde_container_header,
.session_status {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  width: 95%;
}

.kde_form_data_container_header, .kde_form_kde_container_header {
  background-color: #efefef;
  border-radius: 3px;
  color: #0b5394;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.session_status {
  color: #41444B;
  text-align: left;
}

.kde_form_data_year,
.kde_form_data_month,
.kde_form_data_code,
.kde_form_data_kernel,
.kde_form_data_bandwidth,
.kde_form_data_metric {
  margin-bottom: 12px;
  text-align: center;
  width: 95%;
}

.kde_form_data_year select,
.kde_form_data_month select,
.kde_form_data_code select,
.kde_form_data_kernel select,
.kde_form_data_bandwidth select,
.kde_form_data_metric select {
  appearance: none;
  background-color: transparent;
  background: url('/static/css/menu_select.ico') 99.84% / 3% no-repeat #FFFFFF;
  border: none;
  border-bottom: solid 2px #efefef;
  border-radius: 0px;
  box-shadow: none;
  color: #41444B;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  overflow: hidden;
  padding-left: 15px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.kde_form_data_year select:focus,
.kde_form_data_month select:focus,
.kde_form_data_code select:focus,
.kde_form_data_kernel select:focus,
.kde_form_data_bandwidth select:focus,
.kde_form_data_metric select:focus {
  outline-color: #0b5394;
  outline-width: medium;
}

.kde_form_control {
  display: block;
  margin-top: 24px;
  width: 95%;
}

.kde_form_buttons, .session_status {
  display: inline;
}

.kde_form_buttons {
  float: right;
  text-align: center;
}

.kde_form_buttons button {
  border-radius: 3px;
  color: #0b5394;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  height: 35px;
  margin-left: 8px;
  outline: none;
  text-align: center;
  width: 70px;
}

.kde_form_exe, .kde_form_res, .kde_form_exe_disabled {
  background-color: white;
  border: solid 2px #efefef;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}

.kde_form_res a, .kde_form_res a:link, .kde_form_res a:visited {
  color: #0b5394;
  text-decoration: none;
}

.session_start {
  color: #41444B;
  font-family: 'Roboto', sans-serif;
  font-size: 15px
}

.data_canvas {
  display: block;
  clear: both;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1104px;
}

.dataset_parameters {
  float: left;
  margin-bottom: 40px;
  height: 300px;
  width: 300px;
}

.dataset_parameters_viocnt {

}

.dataset_parameters_viocnt_subheader {
  background-color: #efefef;
  border: solid 2px #efefef;
  border-radius: 3px 3px 0px 0px;
  color: #0b5394;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  width: 300px;
}

.dataset_parameters_viocnt_numerics {
  display: block;
  border: solid 2px #efefef;
  border-radius: 0px 0px 3px 3px;
  height: 255px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.dataset_parameters_viocnt_numerics_cnt {
  color: #41444B;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 75px;
  height: 125px;
  line-height: 125px;
  width: 100%;
}

.dataset_tt_text {
  border-top: solid 2px #efefef;
  height: 125px;
  margin: 0 auto;
  padding-top: 25px;
  width: 225px;
}

.dataset_tt_text_subheader {
  color: #41444B;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.dataset_tt_text_ald {
  padding-top: 15px;
  padding-bottom: 10px;
}

.dataset_tt_text_mpd {}

.dataset_tt_text_ald, .dataset_tt_text_mpd {
  color: #41444B;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.dataset_control {
  float: right;
  overflow: hidden;
  width: 750px;
}

.dataset_control button {
  background-color: inherit;
  border: none;
  border-radius: 3px 3px 0px 0px;
  color: #0b5394;
  cursor: pointer;
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
}

.dataset_control button:hover {
  background-color: #dcdcdc;
}

.dataset_control button.active {
  background-color: #efefef;
}

.dataset_display {
  display: none;
  float: right;
  margin-bottom: 25px;
  width: 750px;
}

.footer {
  border-top: solid 2px #efefef;
  clear: both;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 1104px;
}

.footer_copyright {
  color: #41444B;
  float: left;
  padding-top: 5px;
}

.footer_links {
  color: #41444B;
  float: right;
}

.footer_copyright,
.footer_source_code_link,
.footer_dataset_link,
.footer_contact_link {
  color: #41444B;
  display: inline;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.footer_source_code_link, .footer_dataset_link, .footer_contact_link {
  cursor: pointer;
}

.footer_source_code_link a, .footer_dataset_link a, .footer_contact_link a,
.footer_source_code_link a:link, .footer_dataset_link a:link, .footer_contact_link a:link,
.footer_source_code_link a:visited, .footer_dataset_link a:visited, .footer_contact_link a:visited {
  color: #41444B;
  text-decoration: none;
  text-transform: lowercase;
}

.footer_source_code_link a:hover, .footer_dataset_link a:hover, .footer_contact_link a:hover {
  color: #41444B;
  text-decoration: underline;
}

.footer_dataset_link, .footer_contact_link  {
  margin-left: 35px;
}