body, html {
  background-color: None;
}

.kde_canvas {
  /* border-style: solid;
  border-width: 3px; */
  margin: 0 auto;
  margin-top: 16px;
  width: 1104px;
}

.kde_form {
  /* border-style: solid;
  border-width: 3px; */
  display: block;
  float: left;
  margin: 0 auto;
  width: 480px;
}

.kde_display {
  /* border-style: solid;
  border-width: 3px; */
  display: block;
  float: right;
  margin: 0 auto;
}

.kde_form_header,
.kde_form_data_container,
.kde_form_kde_container,
.kde_form_buttons {
  /* border-style: solid;
  border-width: 3px; */
  display: block;
  margin: 0 auto;
}

.kde_form_kde_container {
  padding-top: 24px;
}

.kde_form_buttons {
  padding-top: 24px;
  text-align: center;
  width: 240px;
}

.kde_form_data_year,
.kde_form_data_month,
.kde_form_data_code,
.kde_form_data_kernel,
.kde_form_data_bandwidth,
.kde_form_data_metric {
  display: block;
}

.kde_form_header {
  border-bottom: solid 2px;
  font-family: 'Unica One', cursive;
  font-size: 26px;
  margin-bottom: 15px;
  padding: 5px 0 15px 0;
  /* text-align: justify; */
  text-transform: uppercase;
}

.kde_form_subheader {
  font-family: 'Roboto', sans-serif;
  font-size: 14.4px;
  margin: 15px 0 15px 0;
}

/*Tooltip specific style data*/

.far {
  display: inline-block;
  position: relative;
  /*border-bottom: 1px dotted black;*/
}

.tt_text {
  font-family: 'Roboto', sans-serif;
  font-size: 14.4px;
}

.tt_text img {
  background-color: #ffffff;
  margin-bottom: 3px;
  width: 275px;
}

.tt_text a:link {
  color: white;
}

.tt_text a:visited {
  color: white;
}

.far .tt_text {
  background-color: #555;
  border-radius: 6px;
  /*bottom: 125%;*/
  color: #fff;
  left: 100px;
  margin-left: -84px;
  opacity: 0;
  padding: 20px;
  position: absolute;
  text-align: left;
  top: -70px;
  transition: opacity 0.3s;
  visibility: hidden;
  min-width: 275px;
  z-index: 1;
}

/*.far .tt_text::after {*/
/*  border-color: #555 transparent transparent transparent;*/
/*  border-style: solid;*/
/*  border-width: 5px;*/
/*  content: "";*/
/*  margin-top: -5px;*/
/*  position: absolute;*/
/*  right: 100%;*/
/*  top: 50%;*/
/*}*/

.far:hover .tt_text {
  opacity: 1;
  visibility: visible;
}

/*Tooltip specific style data*/

.kde_form_data_container_header, .kde_form_kde_container_header {
  font-family: 'Roboto', sans-serif;
  font-size: 14.4px;
  text-align: left;
}

.kde_form_data_year,
.kde_form_data_month,
.kde_form_data_code,
.kde_form_data_kernel,
.kde_form_data_bandwidth,
.kde_form_data_metric {
  font-family: 'Roboto', sans-serif;
  font-size: 14.4px;
  height: 32px;
  width: 95%;
}

.kde_form_data_year:focus,
.kde_form_data_month:focus,
.kde_form_data_code:focus,
.kde_form_data_kernel:focus,
.kde_form_data_bandwidth:focus,
.kde_form_data_metric:focus {
  /* outline: none; */
}

.kde_form_buttons button {
  border-radius: 3px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 32px;
  margin-left: 8px;
  margin-right: 8px;
}
