<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon.ico') }}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'style.css') }}">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Roboto|Unica+One">
    <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity = "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin = "anonymous">
    <link rel = "stylesheet" type = "text/css" href = "https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
    <script src = "https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <title>An Interactive Study of Milwaukee Crime Statistics & Kernel Density Estimation</title>
  </head>
  <body>

    <div class = "kde_canvas">

      <form action = "{{ url_for('kde_interact') }}" method = "POST" class = "kde_form">
        <div class = "kde_form_header">An Interactive Study of Milwaukee Crime Statistics & Kernel Density Estimation</div>
        <div class = "kde_form_data_container">
          <div class = "kde_form_data_container_header"><i>Data Parameters:</i></div>
          <div class = "kde_form_subheader">Year <i class = "far fa-question-circle">
              <span class = "tt_text">The Wisconsin Incident-Based Reporting System
              (WIBRS) has collatted data from 2005 to present day. Although much
              of that date range is not available, it is slowly being added as data
              is aggregated to work appropriately with this service.<br><br>
              <a target = "_blank" href = "https://data.milwaukee.gov/">Learn more about Milwaukee OpenData</a> <i class = "fas fa-link"></i></span></i>
          </div>

          <select id = "kde_form_data_year" class = "kde_form_data_year" name = "kde_form_data_year">
            <option value = "" selected disabled>Select</option>
            {% for year in years %}
            <option value = "{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>

          <div class = "kde_form_subheader">Month <i class = "far fa-question-circle">
              <span class = "tt_text">Once a year is chosen, data is further segregated
              by month. This assists the service in creating a tolerable sampling
              for data projection to the user.<br><br>
              <a target = "_blank" href = "https://data.milwaukee.gov/">Learn more about Milwaukee OpenData</a> <i class = "fas fa-link"></i></span></i>
          </div>

          <select id = "kde_form_data_month" class = "kde_form_data_month" name = "kde_form_data_month">
            <option value = "" selected disabled>Select</option>
            {% for month in months %}
            <option value = "{{ month }}">{{ month }}</option>
            {% endfor %}
          </select>

          <div class = "kde_form_subheader">Violation <i class = "far fa-question-circle">
              <span class = "tt_text">The selections shown here are populated by
              data made public from the Wisconsin Incident-Based Reporting System
              (WIBRS). The WIBRS is based on the Federal Bureau of Investigation's
              National Incident-Based Reporting System (NIBRS).<br><br>
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/National_Incident-Based_Reporting_System">Learn more about the NIBRS</a> <i class = "fas fa-link"></i></span></i>
          </div>

          <select id = "kde_form_data_code" class = "kde_form_data_code" name = "kde_form_data_code">
            <option value = "" selected disabled>Select</option>
            {% for code in codes %}
            <option value = "{{ code }}">{{ code }}</option>
            {% endfor %}
          </select>

        </div>
        <div class = "kde_form_kde_container">
          <div class = "kde_form_kde_container_header"><i>KDE Parameters:</i></div>
          <div class = "kde_form_subheader">Kernel/Interpolation <i class = "far fa-question-circle">
              <span class = "tt_text"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Kernels.svg/1200px-Kernels.svg.png" alt = "Kernels - By Brian Amberg, Wikipedia">
              Kernel selection (also known as interpolation) determines how data
              will be shaped (smoothed) for display. The effects of this parameter
              can be seen most when focusing on a density shown on the interactive
              map.<br><br>
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/Kernel_(statistics)#Kernel_functions_in_common_use">Learn more about interpolation</a> <i class = "fas fa-link"></i></span></i>
          </div>

          <select id = "kde_form_data_kernel" class = "kde_form_data_kernel" name = "kde_form_data_kernel">
            <option value = "" selected disabled>Select</option>
            {% for kernel in kernels %}
            <option value = "{{ kernel }}">{{ kernel }}</option>
            {% endfor %}
          </select>

          <div class = "kde_form_subheader">Bandwidth <i class = "far fa-question-circle">
              <span class = "tt_text">The bandwidth is also a shaping (smoothing)
              parameter and focuses more on affecting the search radius (extent)
              of the kernel density estimate. A greater value expands the density
              shown, while a lesser value contracts it.<br><br>
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/Kernel_density_estimation#Bandwidth_selection">Learn more about bandwidth</a> <i class = "fas fa-link"></i></span></i>
          </div>
          <select id = "kde_form_data_bandwidth" class = "kde_form_data_bandwidth" name = "kde_form_data_bandwidth">
            <option value = "" selected disabled>Select</option>
            {% for bandwidth in bandwidths %}
            <option value = "{{ bandwidth }}">{{ bandwidth }}</option>
            {% endfor %}
          </select>

          <div class = "kde_form_subheader">Metric <i class = "far fa-question-circle">
              <span class = "tt_text"><!--<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Manhattan_distance.svg/1200px-Manhattan_distance.svg.png" alt = "Metrics - By Psychonaut, Wikipedia">-->
              Metric is the last shaping (smoothing) parameter and deals with how
              we see distance. This is important because of earth curvature and
              man-made features, such as streets and buildings.<br><br>
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/Metric_(mathematics)">Learn more about distance</a> <i class = "fas fa-link"></i></span></i>
          </div>

          <select id = "kde_form_data_metric"  class = "kde_form_data_metric" name = "kde_form_data_metric">
            <option value = "" selected disabled>Select</option>
            {% for metric in metrics %}
            <option value = "{{ metric }}">{{ metric }}</option>
            {% endfor %}
          </select>

        </div>
        <div class = "kde_form_buttons">
          <button id = "kde_form_exe" type = "submit" class = "kde_form_exe" value = "Submit">Submit</button>
          <button type = "reset" class = "kde_form_res" value="Reset">Reset</button>
        </div>
      </form>

      <div class = "kde_display">
        {{script | safe}}
        {{div | safe}}
      </div>

    </div>
  </body>
</html>
