<!DOCTYPE html>
<html lang = "en" dir = "ltr">
  <head>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename = 'favicon/mkecs-kde_favicon.ico') }}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/mkecs-kde.css') }}">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato|Oswald|Roboto">
    <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity = "sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin = "anonymous">
    <link rel = "stylesheet" type = "text/css" href = "https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
    <script src = "https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/mkecs-kde.js') }}"></script>
    <title>mkecs-kde | An Interactive Study of Milwaukee Crime Statistics & Kernel Density Estimation</title>
  </head>
  <body>

    <div class = "kde_canvas">

      <div class = "session_info">
        <div class = "session_id">Session ID: {{ session_id }}</div>
        <div class = "session_end"><a href = "{{ url_for('mkecs_kde_session_end') }}">End Session</a></div>
      </div>

      <form action = "{{ url_for('kde_interact') }}" method = "POST" id = "kde_form" class = "kde_form">
        <div class = "kde_form_header">
          <div class = "kde_form_header_img"><img src = "{{ url_for('static', filename = 'mu/mu.png') }}"></div>
          <div class = "kde_form_header_txt"><p>An Interactive Study of Milwaukee Crime Statistics & Kernel Density Estimation</p></div>
        </div>

        <div class = "kde_form_data_container">

          <div class = "kde_form_data_container_header">Data Parameters</div>

          <div class = "kde_form_subheader_year">Year <i class = "far fa-question-circle">
              <span class = "year_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/years.png') }}">
              The Wisconsin Incident-Based Reporting System (WIBRS) has collated
              <a target = "_blank" href = "https://data.milwaukee.gov">data</a>
              from 2005 to present day. Although much of that date range is unavailable
              with this service, it is slowly being added as data is aggregated
              and shaped to work appropriately.</span></i>
          </div>

          <div class = "kde_form_data_year">

              {% block kde_form_data_year %}

              <select id = "kde_form_data_year_select" class = "kde_form_data_year_select" name = "kde_form_data_year_select">
                <option value = "" disabled selected hidden></option>
                {% for year in years %}
                <option value = "{{ year }}">{{ year }}</option>
                {% endfor %}
              </select>

              {% endblock %}

          </div>

          <div class = "kde_form_subheader_month">Month <i class = "far fa-question-circle">
              <span class = "month_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/months.png') }}">
              Once a year is chosen, <a target = "_blank" href = "https://data.milwaukee.gov">data</a>
              is further segregated by month. This assists the service in creating
              a tolerable sampling for data projection to the user. Months shown
              are based on availability made within the date range of the dataset.</span></i>
          </div>

          <div class = "kde_form_data_month">

              {% block kde_form_data_month %}

              <select id = "kde_form_data_month_select" class = "kde_form_data_month_select" name = "kde_form_data_month_select">
                <option value = "" disabled selected hidden></option>
                {% for month in months %}
                <option value = "{{ month }}">{{ month }}</option>
                {% endfor %}
              </select>

              {% endblock %}

          </div>

          <div class = "kde_form_subheader_violation">Event <i class = "far fa-question-circle">
              <span class = "violation_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/nibrs.png') }}" alt = "Seal of the Federal Bureau of Investigation, Wikipedia">
              The selections shown here are populated by data made public from the
              Wisconsin Incident-Based Reporting System (WIBRS). The WIBRS is based
              on the Federal Bureau of Investigation's <a target = "_blank" href = "https://en.wikipedia.org/wiki/National_Incident-Based_Reporting_System">National Incident-Based Reporting System</a>
              (NIBRS).</span></i>
          </div>

          <div class= "kde_form_data_code">

              {% block kde_form_data_code %}

              <select id = "kde_form_data_code_select" class = "kde_form_data_code_select" name = "kde_form_data_code_select">
                <option value = "" disabled selected hidden></option>
                {% for code in codes %}
                <option value = "{{ code }}">{{ code }}</option>
                {% endfor %}
              </select>

              {% endblock %}

          </div>
        </div>

        <div class = "kde_form_kde_container">

          <div class = "kde_form_kde_container_header">KDE Parameters</div>

          <div class = "kde_form_subheader_kernel">Kernel/Interpolation <i class = "far fa-question-circle">
              <span class = "kernel_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/kernel.png') }}" alt = "By Brian Amberg, Wikipedia">
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/Kernel_(statistics)#Kernel_functions_in_common_use">Kernel</a>
              selection (also known as interpolation) determines how data will be shaped (smoothed)
              for display. The effects of this parameter can be seen most when focusing
              on a density shown on the interactive map.</span></i>
          </div>

          <div class = "kde_form_data_kernel">

              {% block kde_form_data_kernel %}

              <select id = "kde_form_data_kernel_select" class = "kde_form_data_kernel_select" name = "kde_form_data_kernel_select">
                <option value = "" disabled selected hidden></option>
                {% for kernel in kernels %}
                <option value = "{{ kernel }}"{% if "Gaussian" in kernel %} selected{% endif %}>{{ kernel }}</option>
                {% endfor %}
              </select>

              {% endblock %}

          </div>

          <div class = "kde_form_subheader_bandwidth">Bandwidth <i class = "far fa-question-circle">
              <span class = "bandwidth_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/bandwidth.png') }}" alt = "Bandwidth - By Timothy Hart & Paul Zandbergen, Kernel density estimation and hotspot mapping: Examining the influence of interpolation method, grid cell size, and bandwidth on crime forecasting">
              The <a target = "_blank" href = "https://en.wikipedia.org/wiki/Kernel_density_estimation#Bandwidth_selection">bandwidth</a>
              is also a shaping (smoothing) parameter and focuses more on affecting
              the search radius (extent) of the kernel density estimate. A greater
              value expands the density shown, while a lesser value contracts it.</span></i>
          </div>

          <div class = "kde_form_data_bandwidth">

              {% block kde_form_data_bandwidth %}

              <select id = "kde_form_data_bandwidth_select" class = "kde_form_data_bandwidth_select" name = "kde_form_data_bandwidth_select">
                <option value = "" disabled selected hidden></option>
                {% for bandwidth in bandwidths %}
                <option value = "{{ bandwidth }}"{% if 0.005 in [bandwidth] %} selected{% endif %}>{{ bandwidth }}</option>
                {% endfor %}
              </select>

              {% endblock %}

          </div>

          <div class = "kde_form_subheader_metric">Metric <i class = "far fa-question-circle">
              <span class = "metric_tt_text"><img src = "{{ url_for('static', filename = 'tt_img/metric.png') }}" alt = "By Psychonaut, Wikipedia">
              <a target = "_blank" href = "https://en.wikipedia.org/wiki/Metric_(mathematics)">Metric</a>
              is the last shaping (smoothing) parameter and deals with how we see
              distance. This is important because of earth curvature and man-made
              features such as streets and buildings.</span></i>
          </div>

          <div class = "kde_form_data_metric">
              {% block kde_form_data_metric %}

              <select id = "kde_form_data_metric_select"  class = "kde_form_data_metric_select" name = "kde_form_data_metric_select">
                <option value = "" disabled selected hidden></option>
                {% for metric in metrics %}
                <option value = "{{ metric }}"{% if "Euclidean" in metric %} selected{% endif %}>{{ metric }}</option>
                {% endfor %}
              </select>

              {% endblock %}
          </div>

        </div>

        {% block kde_form_control %}

        <div class = "kde_form_control">
          <div class = "session_status">Status: <span id = "session_start" class = "session_start">{{ session_status }}</span></div>
          <div class = "kde_form_buttons">
            <button id = "kde_form_exe" class = "kde_form_exe" name = "kde_form_exe" type = "submit">Submit</button>
            <button disabled id = "kde_form_exe_disabled" class = "kde_form_exe_disabled" name = "kde_form_exe_disabled" style = "display: none">Submit</button>
            <button id = "kde_form_res" class = "kde_form_res" name = "kde_form_res"><a href = "{{ url_for('kde_startup') }}">Clear</a></button>
          </div>
        </div>

        {% endblock %}

      </form>

      {% block kde_display %}

      <div class = "kde_display">
        {{kde_script | safe}}
        {{kde_div | safe}}
      </div>

      {% endblock %}

    </div>

    {% block data_canvas %}
    {% endblock %}

    <div class = "footer">
      <div class = "footer_copyright"><i class="far fa-copyright"></i> 2018-9 Marquette University Computational Social Science Lab</div>
      <div class = "footer_links">
        <div class = "footer_source_code_link"><a href = "https://github.com/supcl/mkecs-kde" target = "_blank">Source Code</a></div>
        <div class = "footer_dataset_link"><a href = "https://github.com/supcl/mkecs-data" target = "_blank">Dataset</a></div>
        <div class = "footer_contact_link"><a href = "mailto:christopher.supinger@marquette.edu?Subject=Contact%20-%20mkecs-kde" target = "_top">Contact</a></div>
      </div>
    </div>

  </body>
</html>
